**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/charts
**/docker-compose*
**/Dockerfile*
license*
license_header
LICENSE*
readme*
README*
